html{
	height  : 100%;
	overflow: hidden;
	position: relative;
}
body{
	height  : 100%;
	overflow: auto;
	position: relative;
}

/* Bottom Menu */
.scharms-bottommenu{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:5px;
	/*z-index:999999;*/
	background-color:white;
}
.scharms-bottommenu-item{
	width:20%;
	background-color:white;
	float: left;
	text-align:center;
	color:#696969;
	font-size:11px;
}
	.scharms-bottommenu-item.active {
		color: #57BC90;
	}
.scharms-bottommenu-item-icon{
	float: bottom;
	background-color:white;
	margin: 0 auto;
	position: relative;
}
.scharms-bottommenu-item-title{
	float: bottom;
	background-color:white;
	margin: 0 auto;
	position: relative;
}

/* Top bar */
.scharms-topbar{
	height:50px;
	padding-left:5px;
	padding-right:5px;
	/*z-index:999999;*/
	background-color:white;
	  display: flex;
	  justify-content: center;
	  align-items: center;
}
.scharms-topbar-item {
	min-width: 10%;
	max-width: 80%;
	background-color: white;
	float: left;
	text-align: center;
	/*border-style: solid;*/
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	color: #015249;
}
.scharms-topbar-item-inputtext{
	height:30px;  
	outline: none;
	  border: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  width:100% !important;
	  background-color:white;
}
@media only screen and (min-width: 550px) {
  .scharms-topbar-item-inputtext {
	min-width:250%;
	  background-color:white;
  }
}
.scharms-topbar-item-right{
	min-width:10%;
	background-color:white;
	float: right;
	text-align:center;
	/*border-style: solid;*/
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
}

/* Container */
.scharms-container-has-topbar{
	margin-top:30px;
}
.scharms-container-has-bottommenu{
	margin-bottom:50px;
}

.scharms-container-section{
	margin-top:15px;
	margin-bottom:15px;
}


/* From carianpantas */
.scharms-card{
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	text-align:center;
}
.scharms-list-card{
	margin-bottom:5px;
}
.scharms-list-icon{
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	margin:5px;
	margin-top:15px;
	float:left;
}
.scharms-list-text{
	padding-bottom:10px;
	padding-left:10px;
	padding-right:0px;
	padding-top:10px;
	margin:5px;
	float:left;
	right:15px;
	max-width:80%;
}
.scharms-list-text-title{
	float:bottom;
	right:15px;
	font-size:18px;
}
.scharms-list-text-address{
	float:bottom;
	right:15px;
	font-size:15px;
}

/* From carianpantas.tapisan */
.scharms-dropdown-card{
	margin-bottom:5px;
}
.scharms-dropdown-label{
  display: flex;
  justify-content: left;
  align-items: center;
	float:left;
	height:50px;
	width:25%;
}
.scharms-dropdown-value{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:10px;
	float:left;
	height:50px;
	max-width:60%;
}
.scharms-dropdown-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:10px;
	float:right;
	height:50px;
	max-width:70%;
}
.scharms-button-white{
	border-color: green !important;
	color: green !important;
}
.scharms-button-white.active{
	border-color: green !important;
	background-color:green !important;
	color: white !important;
}
.scharms-button{
	border-color: green !important;
	background-color:green !important;
	color: white !important;
}
.scharms-button.active{
	border-color: green !important;
	background-color:white !important;
	color: green !important;
}


/* From Mampan.info */
/* For Collapsible */
p,li{
  text-align: justify;
  text-justify: inter-word;
}
.collapsible {
	  background-color: #777;
	  color: white;
	  cursor: pointer;
	  padding: 10px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 15px;
}
.collapsible.active {
	background-color: #555;
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}
.content {
	  padding: 0 18px;
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 0.2s ease-out;
	  background-color: #f1f1f1;
}

/* From mampan.laporan */
.scharms-flag-card{
	margin-left:2px;
	margin-right:2px;
	height:90px;
}
.scharms-card-indicator-value{
	font-size:25px;
}

/* From main */

.scharms-main-button.left {
	float: left;
}

.scharms-main-button.right {
	float: right;
}

.scharms-main-button.center {
	min-width: 100%;
	max-width: 100%;
}

.scharms-main-button-icon {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scharms-main-button-title {
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu-glyphicon {
	font-size: 20px;
}

/* From mengenai_scharms */
.scharms-toptab {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.scharms-toptab-content {
	padding-top: 60px !important;
}

/* From xxxxxxx */


/* From xxxxxxx */

/* From PART AJAI */
#progressContainer {
	width: 100%;
	background-color: grey;
	margin-top: 30px;
}

#progressBar {
	width: 1%;
	height: 15px;
	background-color: green;
	color: white;
	line-height: 15px;
	font-size: 12px;
	padding-left: 20px;
}

/* From PART SAFIAH */


/* MAPVIEWER */
#viewDiv {
	padding: 0;
    margin: 0;
    height: calc(100% - 100px);
    width: 100%;
    margin-bottom: 51px;
  }
